.nature {
  padding-top: 80px;
  padding-bottom: 50px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .nature {
    display: none;
  }
}

.natureContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.natureContentTitle {
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0px;
}

.loader {
  color: rgba(0, 0, 0, 1);
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
