body {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 320px;
  }
}

[data-animate] {
  opacity: 0;
}

